doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/dist/main.min.css')
    link(rel='stylesheet', href='/stylesheets/separate/video-js.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/unslider-min.js')
    script(src='javascripts/preventScroll.js')
    script(src='/javascripts/interact.js')
    script(src='/javascripts/page.js')
    script(src='javascripts/video.js')

  body
    include ../component/header.jade
    include ../component/prodIntroSubNav.jade
    include ../component/lessonSubNav.jade
    include ../component/teamIntroSubNav.jade
    
    div.padding-block
    
    div.layout
      div.video-body.clearfix
        div.sidebar-left
          div.side-item.active 注册&登录
            div.arrow-r
          div.side-item 快餐模式
            div.arrow-r
          div.side-item 桌台模式
            div.arrow-r
              
        div.right-part
          div.tt 新手教程
          div.video-list-ctn
            div.video-item
              div.img-ctn
              div.video-desc 标题标题标题标题标题标题标题标题标题标标题标题标题标题
            div.video-item
              div.img-ctn
              div.video-desc 标题标题标题标题标题标题标题标题标题发生地方标题标题标题标
            div.video-item
              div.img-ctn
              div.video-desc 标题标题标题标题标题标题标题粉色的标题标题标题标题标题标题标
            div.video-item
              div.img-ctn
              div.video-desc 标题标法题标题标题标题标题标题标题标题标题标题标题标题标
            div.video-item
              div.img-ctn
              div.video-desc 标题标题标就好题标题标题标题标题标题标题标题标题标题标题标
            div.video-item
              div.img-ctn
              div.video-desc 标题标反对十分丰富题标题标题标题标题标题标题标题标题标题标题标题标
            div.video-item
              div.img-ctn
              div.video-desc 标题标题奋斗奋斗标福鼎市舒服舒服题标题标题标题标题标题标题标题标题标题标题标
              
    div.popup-gray
      
      div.popup-video
        div.video-tt 这是视频的标题
          div.close-btn
        video(id='video-for-h5'
              class='video-js vjs-default-skin'
              width='100%'
              height='100%'
              preload='none'
              data-setup='{}'
              loop autoplay controls)
          source(src='http://cvideo.mwee.cn/media-4.18.mp4' type='video/mp4')
          source(src='http://cvideo.mwee.cn/media-4.18.ogv' type='video/ogv')
          track(kind='captions' src='demo.captions.vtt' srclang='en' label='English')
          track(kind='subtitles' src='demo.captions.vtt' srclang='en' label='English')
          
        //- for ie
        script.
          videojs.options.flash.swf = 'http://cvideo.mwee.cn/media-4.18.swf';
              
    include ../component/footer.jade
